<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://ghenghis/hermestv-tizen" version="0.1.0" viewmodes="maximized">
  <tizen:application id="HermesTV.HermesTV" package="HermesTV01" required_version="6.5"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.normal.1920.1080"/>
  <icon src="icon.png"/>
  <name>HermesTV</name>
  <tizen:profile name="tv"/>
  <tizen:setting screen-orientation="landscape" context-menu="disable"
                 background-support="disable" encryption="disable"
                 install-location="auto" hwkey-event="enable"/>
  <!-- Production access: VPS-hosted API and assets at hermestv.daveai.tech -->
  <access origin="https://hermestv.daveai.tech" subdomains="true"/>
  <!-- Local dev access: only used when localStorage override 'hermestv.api_base' points to LAN -->
  <access origin="http://localhost" subdomains="true"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
  <tizen:privilege name="http://tizen.org/privilege/network.get"/>
</widget>
